* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: white;
  min-height: 100vh;
}

body header {
  font-size: 1.5rem;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form .todo-add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form .todo-add-item input {
  padding: .5rem;
  font-size: 2rem;
  border: none;
  background: white;
  background-color: #fff;
}

body form .todo-add-item button {
  padding: .5rem;
  font-size: 2rem;
  border: none;
  background: white;
  color: #d88771;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body form .todo-add-item button:hover {
  background: #d88771;
  color: white;
}

body form .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

body form .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 10rem;
  cursor: pointer;
  color: #ff6f47;
  padding: 1rem;
}

body form .select:after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body form .select:hover:after {
  background: white;
  color: #ff6f47;
}

body .todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
}

body .todo-container .todo-list {
  min-width: 30%;
  list-style: none;
}

body .todo-container .todo-list .todo {
  margin: .5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .todo-container .todo-list .todo .todo-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0rem 0.5rem;
}

body .todo-container .todo-list .todo .complete-btn {
  background: #4ccc3b;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

body .todo-container .todo-list .todo .complete-btn .fa-check {
  pointer-events: none;
}

body .todo-container .todo-list .todo .trash-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

body .todo-container .todo-list .todo .trash-btn .fa-trash {
  pointer-events: none;
}

body .todo-container .todo-list .completed {
  text-decoration: line-through;
  opacity: 0.5;
}

body .todo-container .todo-list .fall {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

body footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer p a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  body form {
    width: 80vw;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body form .todo-add-item input {
    max-width: 80vw;
    font-size: 1rem;
  }
  body form .todo-add-item button {
    font-size: 1rem;
  }
  body form .select {
    background: white;
  }
  body form .select select {
    padding: .5rem;
  }
  body form .select:after {
    padding: .5rem;
  }
  body .todo-container .todo-list {
    min-width: 70%;
  }
  body .todo-container .todo-list .todo {
    font-size: 1rem;
  }
  body footer p {
    font-size: 0.5rem;
  }
  body footer p a {
    font-size: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */