* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: white;
  min-height: 100vh;
}

body header {
  font-size: 1.5rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body form .todo-add-item input {
  padding: .5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

body form .todo-add-item button {
  padding: .5rem;
  font-size: 2rem;
  border: none;
  background: white;
  color: #d88771;
  cursor: pointer;
  transition: all 0.3s ease;
}

body form .todo-add-item button:hover {
  background: #d88771;
  color: white;
}

body form .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

body form .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 10rem;
  cursor: pointer;
  color: #ff6f47;
  padding: 1rem;
}

body form .select:after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

body form .select:hover:after {
  background: white;
  color: #ff6f47;
}

body .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .todo-container .todo-list {
  min-width: 30%;
  list-style: none;
}

body .todo-container .todo-list .todo {
  margin: .5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

body .todo-container .todo-list .todo .todo-item {
  flex: 1;
  padding: 0rem 0.5rem;
}

body .todo-container .todo-list .todo .complete-btn {
  background: #4ccc3b;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

body .todo-container .todo-list .todo .complete-btn .fa-check {
  pointer-events: none;
}

body .todo-container .todo-list .todo .trash-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

body .todo-container .todo-list .todo .trash-btn .fa-trash {
  pointer-events: none;
}

body .todo-container .todo-list .completed {
  text-decoration: line-through;
  opacity: 0.5;
}

body .todo-container .todo-list .fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

@media (max-width: 600px) {
  body form {
    width: 80vw;
    margin: auto;
    flex-direction: column;
  }
  body form .todo-add-item input {
    font-size: 1rem;
  }
  body form .todo-add-item button {
    font-size: 1rem;
  }
  body form .select select {
    padding: .5rem;
  }
  body form .select:after {
    padding: .5rem;
  }
  body .todo-container .todo-list {
    min-width: 70%;
  }
  body .todo-container .todo-list .todo {
    font-size: 1rem;
  }
}
